$link-light-grey: #98bbda;
$primary-orange: #B85C38; //before: fed136
$footer-background-light-grey: #212529;
$footer-background-grey: #1a1d20;
$social-buttons-circle-dark-grey: #1a1d20;

$footer-background-color-figma: #FFF9E3;
$selection: #FBD46D;

#footer {
    position: relative;
    background-color: #172c26;
}